a:link {
    text-decoration: none;
    color: green;
}

a:visited {
    color: green;
    text-decoration: none;
}

a:hover {
    font-weight: 900;
}

a:active {
    font-weight: 900;
    text-decoration: underline;
}